# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
*.joblib
*.h5
*.ckpt

# OS / Editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/
